<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="mainpage_2.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />
    <title>mainpage_2</title>
  </head>
  <body>
    <div class="serch">
      <h5>검색결과</h5>
      <div class="menu">
        <ul class="menu_">
          <li><a href="">전체</a></li>
          <li><a href="">캠핑</a></li>
          <li><a href="">패딩</a></li>
          <li><a href="">의자</a></li>
          <li><a href="">냉장고</a></li>
          <li><a href="">노트북</a></li>
          <li><a href="">아이폰</a></li>
          <li><a href="">난로</a></li>
          <li><a href="">컴퓨터</a></li>
          <li><a href="">아이패드</a></li>
        </ul>
      </div>
      <div class="icon1">
        <ul class="icon_1">
          <li>
            <a href=""
              ><img src="data/꽃.jpg" /><br /><strong
                >혼다 전기오토바이 자전거...</strong
              ><br /><span>경기도 성남시 분당구 금곡동</span><br /><span
                id="price"
                >9000,000</span
              ></a
            >
          </li>
          <li>
            <a href=""
              ><img src="data/꽃.jpg" /><br />
              <strong>혼다 전기오토바이 자전거...</strong>
              <br /><span>경기도 성남시 분당구 금곡동</span><br /><span
                id="price"
              >
                9000,000</span
              ></a
            >
          </li>
          <li>
            <a href=""
              ><img src="data/꽃.jpg" /><br /><strong
                >혼다 전기오토바이 자전거...</strong
              ><br /><span>경기도 성남시 분당구 금곡동</span><br /><span
                id="price"
                >9000,000</span
              ></a
            >
          </li>
        </ul>
      </div>
      <div class="icon2">
        <ul class="icon_2">
          <li>
            <a href=""
              ><img src="data/꽃.jpg" /><br /><strong
                >혼다 전기오토바이 자전거...</strong
              ><br /><span>경기도 성남시 분당구 금곡동</span><br /><span
                id="price"
                >9000,000</span
              ></a
            >
          </li>
          <li>
            <a href=""
              ><img src="data/꽃.jpg" /><br />
              <strong>혼다 전기오토바이 자전거...</strong>
              <br /><span>경기도 성남시 분당구 금곡동</span><br /><span
                id="price"
              >
                9000,000</span
              ></a
            >
          </li>
          <li>
            <a href=""
              ><img src="data/꽃.jpg" /><br /><strong
                >혼다 전기오토바이 자전거...</strong
              ><br /><span>경기도 성남시 분당구 금곡동</span><br /><span
                id="price"
                >9000,000</span
              ></a
            >
          </li>
        </ul>
      </div>
      <div class="icon3">
        <ul class="icon_3">
          <li>
            <a href=""
              ><img src="data/꽃.jpg" /><br /><strong
                >혼다 전기오토바이 자전거...</strong
              ><br /><span>경기도 성남시 분당구 금곡동</span><br /><span
                id="price"
                >9000,000</span
              ></a
            >
          </li>
          <li>
            <a href=""
              ><img src="data/꽃.jpg" /><br />
              <strong>혼다 전기오토바이 자전거...</strong>
              <br /><span>경기도 성남시 분당구 금곡동</span><br /><span
                id="price"
              >
                9000,000</span
              ></a
            >
          </li>
          <li>
            <a href=""
              ><img src="data/꽃.jpg" /><br /><strong
                >혼다 전기오토바이 자전거...</strong
              ><br /><span>경기도 성남시 분당구 금곡동</span><br /><span
                id="price"
                >9000,000</span
              ></a
            >
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
