body {
  margin: 0;
  font-family: "Do Hyeon", sans-serif;
}

#firstbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1440;
  height: 900px;
  background-color: #ffddd6;
}

.firstbox_ps {
  display: flex;
  flex-direction: column;
}
#firstbox_bigtext {
  font-size: 64px;
}

#firstbox_smalltext {
  font-size: 25px;
  color: #686767;
}
.firstbox_img {
  *margin: 0;
  *padding: 0;
  width: 600px;
  height: 1000px;
  position: relative;
}

#firstbox img {
  position: absolute;
  width: 250px;
  height: 550px;
  border-radius: 20%;
  box-shadow: 30px;
}
.fistbox_img1 {
  width: 250px;
  height: 550px;
  transform: translate(0, 200px);
}
.fistbox_img2 {
  width: 250px;
  height: 550px;
  transform: translate(350px, -250px);
}
.fistbox_img3 {
  width: 250px;
  height: 550px;
  transform: translate(180px, -950px);
}

.secondbox_icon {
  width: auto;
  height: 200px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
}

.secondbox_icon ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.secondbox_icon li {
  padding: 8px 12px;
}

img {
  width: 40px;
  height: 40px;

  margin-right: 0px;
}

a {
  color: black;
  text-decoration-line: none;
}

#thirdbox {
  width: auto;
  height: 600px;
  background-color: #fff3be;
  margin-top: 0px;
}
#thirdbox ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}

#thirdbox_text {
  font-size: 35px;
}

#thirdbox_text {
  padding: 60px 200px;
  margin-top: 0px;
}

#thirdbox img {
  width: 200px;
  height: 200px;
  border-radius: 18%;
}

.endbox_s {
  width: auto;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#end_bigtext {
  padding: 60px 200px;
  font-size: 35px;
  margin: 0px;
}

.end_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
  margin: 0px;
}

.end_menu li {
  padding: 8px 30px;
}

.end_menu a {
  color: black;
}
.end_menu li:hover {
  background-color: #fdb8d8;
  border-radius: 4px;
}

.end_menu_icon1 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  list-style: none;
  padding-top: 100px;
  padding-bottom: 100px;
}

.end_menu_icon2 {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  list-style: none;
  padding-top: 100px;
  padding-bottom: 100px;
}

.end_menu_icon1 ul {
  padding-left: 0px;
}

.end_menu_icon2 ul {
  padding-left: 0px;
}

.endbox_icon1 img {
  width: 250px;
  height: 250px;
  border-radius: 18%;
}

.endbox_icon2 img {
  width: 250px;
  height: 250px;
  border-radius: 18%;
}

#price {
  color: red;
}
strong {
  font-size: 23px;
}
