body {
  margin:0px;
}


table {
  margin 0px;
  border-style: hidden;
}

td {
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
}

button {
  margin-right: 0px;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 10%;
}

button p {
  margin-top: 0px;
  margin-bottom: 0px;
}
