<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="writingpage.css" />
    <title>writingpage</title>
  </head>
  <body>
    <h2>중고거래 글쓰기</h2>
    <div>
      <table border="1">
        <tr>
          <td rowspan="2">사진</td>
        </tr>
        <tr>
          <td>글제목</td>
        </tr>
        <tr>
          <td>카테고리 선택</td>
        </tr>
        <tr>
          <td>가격(선택사항)</td>
        </tr>
        <tr>
          <td>
            게시글 내용을 작성해주세요(가품 및 판매금지품목은 게시가 제한될 수
            있어요.)
          </td>
        </tr>
        <!--<tr>
        <td>자주 쓰는 문구</td>
        <td>보여줄 동네 설정</td>
      </tr>-->
      </table>
    </div>

    <div class"button">
      <button type="button"><p>등록</p></button>
    </div>
  </body>
</html>
